.join-room form{
    max-width: 500px;
    margin: 30px auto;
    box-shadow: cyan 5px 5px 0px;
}

.join-room iframe{
    display: block;
    margin: auto;
    width: 300px;
    height: 200px;
}

.join-room input, .send-message input{
    background: none;
    outline: none;
}

.directions{
    display: flex;
    justify-content: space-between;
}

.message{
    box-shadow: cyan 4px 2px 0px;
}

.message-sender{
    border-bottom-right-radius: 0;
}

.message-reciever{
    border-bottom-left-radius: 0;
}

.send-message{
    display: flex;
    gap:40px;
}